body {
	margin: 0;
	font-family: "Lucida Grande" ;
	background-color: #FCE4EC ;
}

header {
	background-color: rgba(213, 0, 0,0.7);
	color: white;
	height : 80px;
	width: 100%;
	position:fixed;
	top: 0;
	z-index: 10;
}

header .box {
	max-width: 1100px;
	margin: auto;
	padding: 0.5px 10px;
}

.header-logo {
	float: left;
	font-size: 40px;
	padding: 0px 10px;
}

.header-logo:hover {
	background-color: rgba(198, 40, 40,1.0);
	display: inline-block;
	border-radius: 10px;
}

.header-kiri ul {
	margin-left: 100px;
}

.header-kiri li {
	list-style: none;
	float: left;
	padding: 15px 15px;
}

.header-kiri li:hover {
	background-color: rgba(255, 235, 238,0.6);
	display: inline-block;
	border-radius: 10px;
}

.header-kanan span{
	float: right;
	padding: 15px 30px;
	background-color: rgba(255, 235, 238,0.6);
	display: inline-block;
	border-radius: 10px;
}

.header-kanan span:hover {
	background-color: rgba(255, 235, 238,0.3);
}

.utama{
	background-image: url(background-utama.png);
	background-size: cover;
	color: white;
	text-align: center;
}

.utama .container {
	background-color: rgba(63, 81, 181,0.7);
	padding: 100px 0px;
}
.utama h1{
	font-size: 80px;
}

.utama h2{
	font-size: 40px;
}




